/.metadata/
.classpath
.factorypath
.project
/.settings
/target
/.vscode
/logs
src/main/java/com/projectestimation/backend/estimation/config/GeminiProperties.java
src/main/java/com/projectestimation/backend/estimation/config/GeminiProperties.java
