/.metadata/
.classpath
.factorypath
.project
/.settings
/target
/.vscode
/logs
/uploads/
src/main/java/com/projectestimation/backend/estimation/config/GeminiProperties.java
src/main/java/com/projectestimation/backend/estimation/config/GeminiProperties.java
uploads/reviews/Opportunity 23_sdd_review1.docx
